extends signedIn

block content
    h1(id="title") Edit Account
    form(id="dataForm" method="post" action="/account/edit" data-method="edit" onsubmit="return submitForm()")
        p(id="headErrMsg" class="errorMsg") Please fill out the following fields:
        div(id="usernameDiv")
            label(for="username") Username: 
            input(type="text" id="username" value=user.username)
            p(class="errorMsg") Must be between 3 and 32 characters
        div(id="emailDiv")
            label(for="email") Email: 
            input(type="email" id="email" value=user.email)
            p(class="errorMsg") Must be valid email
        div(id="dobDiv")
            label(for="dob") Birthdate: 
            input(type="date" id="dob" value=user.dob)
            p(class="errorMsg") Must be 13 or older
        div(id="securityQuestionDiv1")
            label(for="securityQuestion1") Security Question 1:
            select(id="securityQuestion1" data-qid=user.questions[0].id)
                option(value="0") What was your childhood nickname?
                option(value="1") In what city did you meet your spouse/significant other?
                option(value="2") What is the name of your favorite childhood friend?
                option(value="3") What street did you live on in third grade?
                option(value="4") What is your oldest sibling's middle name?
            //- label(for="securityAnswer1") Answer:
            input(type="text" id="securityAnswer1" placeholder="nochange")
            p(class="errorMsg") Input cannot be empty
        div(id="securityQuestionDiv2")
            label(for="securityQuestion2") Security Question 2:
            select(id="securityQuestion2" data-qid=user.questions[1].id)
                option(value="0") What school did you attend for sixth grade?
                option(value="1") What was your childhood phone number?
                option(value="2") What is your oldest cousin's first and last name?
                option(value="3") What was the name of your first stuffed animal?
                option(value="4") In what city or town did your mother and father meet?
            //- label(for="securityAnswer2") Answer:
            input(type="text" id="securityAnswer2" placeholder="nochange")
            p(class="errorMsg") Input cannot be empty
        div(id="securityQuestionDiv3")
            label(for="securityQuestion3") Security Question 3:
            select(id="securityQuestion3" data-qid=user.questions[2].id)
                option(value="0") Where were you when you had your first kiss?
                option(value="1") What is the first name of the boy or girl that you first kissed?
                option(value="2") What was the last name of your third grade teacher?
                option(value="3") In what city does your nearest sibling live?
                option(value="4") In what city or town was your first job?
            //- label(for="securityAnswer3") Answer:
            input(type="text" id="securityAnswer3" placeholder="nochange")
            p(class="errorMsg") Input cannot be empty
        
        div(id="passwordsDiv")
            hr
            div(id="newPasswordDiv")
                label(for="newPassword") New Password: 
                input(type="password" id="newPassword")
                p(class="errorMsg") Must have 1 number, 1 capital and be at least 8 characters long
            div(id="oldPasswordDiv")
                label(for="oldPassword") Old Password: 
                input(type="password" id="oldPassword")
                p(class="errorMsg") Incorrect Password
            hr
        input(type="submit" value="Update Account")
    script(src="/scripts/accountEditPage.js")
    script(src="/scripts/formValidation.js")
