extends layout

append scripts
	+js('util')
	+js('editAccount')
	//-script(src="/scripts/accountEditPage.js")
	//-script(src="/scripts/formValidation.js")
	+js('avatar')

append links
	+css('form')
	+css('editAccount')

block content
	h1#title Edit Account
	form#dataForm(onsubmit="return false")
		section#userInfo
			div#newUsernameCtr
				label(for="newUsername") Username:
				input#newUsername(type="text", name="newUsername", pattern=".{3,32}", placeholder="new username", title="Must consist of between three (3) and thirty-two (32) characters, all of which must be alphanumeric or underscores", value=user.username)
				span.validationMessage

			div#newPasswordCtr
				label(for="newPassword") New Password:
				input#newPassword(type="password", name="newPassword", pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\\d).{8,64}", placeholder="new password", title="Must consist of between eight (8) and sixty-four (64) characters, among which must be at least one (1) uppercase letter, one (1) lowercase letter, and one (1) digit")
				span.validationMessage



			//- this space intentionally left blank




			div#emailCtr
				label(for="email") Email:
				input#email(type="email", name="email", autocomplete="email", title="Must be a valid email address", value=user.email)
				span.validationMessage

			div#dobCtr
				label(for="dob") Birthdate:
				- var dobCeiling = new Date()
				- dobCeiling.setFullYear(dobCeiling.getFullYear()-13)
				- dobCeiling = dobCeiling.toISOString().match(/.*(?=T)/)[0]
				input#dob(type="date", name="dob", required, title="Must be a date of birth at least thirteen (13) years old", max=dobCeiling, value=user.dob)
				span.validationMessage

		section#questions
			div#securityQuestionCtr1
				label(for="securityQuestion1") When is Joe's birthday?
				select#securityQuestion1(data-answer=user.answers[0], name="answer1")
					option(value="0") Jan 09 1998
					option(value="1") Oct 03 1998
					option(value="2") Nov 11 1999
					option(value="3") May 14 1997

			div#securityQuestionCtr2
				label(for="securityQuestion2") When was the US Constitution signed?
				select#securityQuestion2(data-answer=user.answers[1], name="answer2")
					option(value="0") 1783
					option(value="1") 1776
					option(value="2") 1787
					option(value="3") 1912

			div#securityQuestionCtr3
				label(for="securityQuestion3") Who is the best Disney Princess?
				select#securityQuestion3(data-answer=user.answers[2], name="answer3")
					option(value="0") Mulan
					option(value="1") Rapunzel
					option(value="2") Ariel
					option(value="3") Cinderella

		section#avatar
			p Create your Profile Pic!
			div#avatarOptions
				select#avatarEyes(name='eyes' data-answer=user.avatarArgs[0])
					option(value='1') 1
					option(value='2') 2
					option(value='3') 3
					option(value='4') 4
					option(value='5') 5
					option(value='6') 6
					option(value='7') 7
					option(value='9') 8
					option(value='10') 9
				select#avatarNose(name='nose' data-answer=user.avatarArgs[1])
					option(value='2') 1
					option(value='3') 2
					option(value='4') 3
					option(value='5') 4
					option(value='6') 5
					option(value='7') 6
					option(value='8') 7
					option(value='9') 8
				select#avatarMouth(name='mouth' data-answer=user.avatarArgs[2])
					option(value='1') 1
					option(value='3') 2
					option(value='5') 3
					option(value='6') 4
					option(value='7') 5
					option(value='9') 6
					option(value='10') 7
					option(value='11') 8
				input#avatarColor(type="range" min="1" max="360" class="slider")
			div#avatarPicture
				img#avatarPreview

			hr

		section#submit
			div#oldPasswordCtr
				label(for="oldPassword") Enter password to update:
				input#oldPassword(type="password", name="oldPassword", required, placeholder="old password")
				span.validationMessage
			input(type="submit", value="Update Account")
