extends layout

block content
    h1(id="title") Edit Account
    form(id="dataForm" method="post" action="/account/edit" data-method="edit" onsubmit="return submitForm()")
        p(id="headErrMsg" class="errorMsg") Please fill out the following fields:
        div(id="usernameDiv")
            label(for="username") Username: 
            input(type="text" id="username" value=user.username)
            p(class="errorMsg") Must be between 3 and 32 characters
        div(id="emailDiv")
            label(for="email") Email: 
            input(type="email" id="email" value=user.email)
            p(class="errorMsg") Must be valid email
        div(id="dobDiv")
            label(for="dob") Birthdate: 
            input(type="date" id="dob" value=user.dob)
            p(class="errorMsg") Must be 13 or older
        div(id="securityQuestionDiv1")
            label(for="securityQuestion1") When is Joe's birthday?:
            select(id="securityQuestion1" data-qid=user.questions[0].id)
                option(value="0") Jan 09 1998
                option(value="1") Oct 03 1998
                option(value="2") Nov 11 1999
                option(value="3") May 14 1997
        div(id="securityQuestionDiv2")
            label(for="securityQuestion2") When was the US Constitution signed?:
            select(id="securityQuestion2" data-qid=user.questions[1].id)
                option(value="0") 1783
                option(value="1") 1776
                option(value="2") 1787
                option(value="3") 1912
        div(id="securityQuestionDiv3")
            label(for="securityQuestion3") Who is the best Disney Princess?:
            select(id="securityQuestion3" data-qid=user.questions[2].id)
                option(value="0") Mulan
                option(value="1") Rapunzel
                option(value="2") Ariel
                option(value="3") Cinderella
        
        div(id="passwordsDiv")
            hr
            div(id="newPasswordDiv")
                label(for="newPassword") New Password: 
                input(type="password" id="newPassword")
                p(class="errorMsg") Must have 1 number, 1 capital and be at least 8 characters long
            div(id="oldPasswordDiv")
                label(for="oldPassword") Old Password: 
                input(type="password" id="oldPassword")
                p(class="errorMsg") Incorrect Password
            hr
        input(type="submit" value="Update Account")
    script(src="/scripts/accountEditPage.js")
    script(src="/scripts/formValidation.js")
